/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 22px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  transition: ease 200ms !important;
}
.font-primary {
  color: #673ab7 !important;
}
.text-fancy {
  font-family: "Pacifico", cursive !important;
}

.pointer:hover {
  cursor: pointer !important;
}
