<div class="container my-4">
  <h1 *ngIf="ingredientId == pageModeEnum.Create">Create a new Ingredient</h1>
  <h1 *ngIf="pageMode == pageModeEnum.Edit">Edit Ingredient</h1>
  <hr />

  <form [formGroup]="ingredientForm" (ngSubmit)="addEditIngredient()">
    <div>
      <button class="mr-2" type="submit" mat-raised-button color="primary">
        <span *ngIf="pageMode == pageModeEnum.Create">Create</span>
        <span *ngIf="pageMode == pageModeEnum.Edit">Save</span>
      </button>
      <button mat-raised-button [routerLink]="['/ingredients']">Cancel</button>
    </div>
    <hr />
    <div>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Ingredient Name</mat-label>
        <input
          matInput
          placeholder="Ingredient Name"
          formControlName="name"
          required
        />
        <mat-error>Name is required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-radio-group
        class="mt-3"
        formControlName="isVegan"
        aria-label="Select an option"
      >
        <mat-radio-button value="true"> Vegan </mat-radio-button>
        <mat-radio-button value="false" class="pl-3" [checked]="true">
          Not Vegan
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
</div>
