<nav class="navbar navbar-expand-md px-5 navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:4200/">
    <img src="../../assets/logo1black.png" alt="Logo"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/customers']">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/orders']">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products']">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ingredients']">Ingredients</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content">
  <router-outlet> </router-outlet>
</div>

<footer class="page-footer w-100 font-small blue">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mt-md-0 mt-3">
        <img src="../assets/logo2white.png" alt="" />
      </div>

      <hr class="clearfix w-100 d-md-none pb-4" />

      <div class="col-md-3">
        <h3 class="text-fancy">We Accept</h3>
        <p class="text-justify px-4">
          Use our online ordering system and use your credit card or paypal
          account with confidence. Alternatively, pay upon delivery for products
          you order online.
        </p>
      </div>
      <div class="col-md-3">
        <h3 class="text-fancy">Contact us</h3>
        <p>
          <a href="https://goo.gl/maps/7vyH3ERMDfeovpoE7">
            <i class="fa-solid fa-location-dot"></i> Jordan, Amman
          </a>
        </p>
        <p>
          <a href="tel:+962778400575">
            <i class="fa-solid fa-phone"></i> +(962)778400575
          </a>
        </p>
      </div>
      <div class="col-md-3">
        <h3 class="text-fancy">Follow us</h3>

        <a href=""><i class="fa-brands fa-facebook-f"></i></a>

        <a href=""><i class="fa-brands fa-whatsapp"></i></a>

        <a href=""><i class="fa-brands fa-twitter"></i></a>

        <a href=""><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    © 2022 Copyright: YousefKurchaloy MCPP Exam
  </div>
</footer>
<app-scroll-to-top></app-scroll-to-top>
