<div class="container my-4">
  <h1 class="page-title">Customers</h1>
  <hr />

  <button
    mat-raised-button
    color="primary"
    class="mb-3"
    [routerLink]="['/customers/add']"
  >
    Add New Customer
  </button>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.fullName }}</td>
        <td>{{ customer.phoneNo }}</td>
        <td>
          <a
            class="text-info"
            matTooltip="Customer Details"
            [routerLink]="['/customers/', customer.id]"
          >
            <mat-icon>info</mat-icon>
          </a>
          <a
            class="ml-1"
            matTooltip="Edit Customer"
            [routerLink]="['/customers/edit', customer.id]"
          >
            <mat-icon>edit</mat-icon>
          </a>
          <a
            class="text-danger pointer"
            (click)="deleteCustomer(customer.id)"
            matTooltip="Delete Customer"
          >
            <mat-icon>delete</mat-icon>
          </a>
          <a class="pointer">
            <mat-icon>history</mat-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
